body {
  background-color: #f5f8f914 !important;
  padding-top: 90px;
}

.cursor-pointer {
  cursor: pointer;
}

.user-name {
  font-size: 25px;
}

.user-thumbnail {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.author-info-block {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

/* remove-caret-from-dropdown-button */
.dropdown-toggle:after {
  display: none !important;
}
