* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee !important;
  padding-top: 65px;
  overflow: hidden;
}

button:focus {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.user-name {
  font-size: 25px;
}

.user-thumbnail {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.author-info-block {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

/* remove-caret-from-dropdown-button */
.dropdown-toggle:after {
  display: none !important;
}

.min-height-300 {
  min-height: 300px;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1.1rem;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b9d0f8;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #02b875;
  font-size: 15px;
  font-weight: bold;
  border-radius: 22.25px;
  display: inline-block;
  padding: 0.5rem 1.1rem;
  margin: 0 5px;
  color: white;
}
div.ReactTags__selected button.ReactTags__remove {
  border: none !important;
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 4px;
}

.wrapper {
  max-height: calc(98vh - 52px);
  overflow: scroll;
  overflow-x: hidden;
}

.search-input-area {
  position: relative;
}

.search-box-close {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -11px;
  cursor: pointer;
}

.search-result-area {
  position: relative;
  background-color: #eee;
}

.search-scroll-area {
  max-height: 100vh;
  overflow: scroll;
}

.search-result-area header {
  font-size: 1.2rem;
}
.search-input {
  height: 3.5rem !important;
}

.search-result-area .list-group-item-action {
  padding: 5px 5px 5px 15px;
}

.search-result-area .list-group-item-action:hover {
  background-color: #4284f7;
}

.search-result-area .list-group-item-action:hover .search-result-list-item,
.search-result-area .list-group-item-action:hover article {
  color: white !important;
}

.search-result-list-item header,
.search-result-list-item article {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-result-list-item article {
  font-size: 17px;
  margin: 5px 0px 0px 25px;
  font-weight: 400;
  color: gray;
}

.search-result-readcount {
  font-size: 14px;
}

.tag-container .jumbotron {
  background-color: #f8f9fa !important;
  margin-top: -20px;
  text-align: center;
  color: #666;
}
.tag-container {
  overflow: auto;
  max-height: 92vh;
}
.tag-container h1 {
  text-transform: capitalize;
}
